<div class="welcome-container">

<img src="/assets/images/3d-gym-equipment.jpg" alt="">

<div class="welcome-wrapper flex flex-col justify-between">
<h2 class="poppins-bold  text-3xl underline decoration-amber-500">
  BIENVENUE À ELRAH GYM
</h2>
<p class="welcome-content poppins-light">
Chez Elrah Gym, nous vous offrons un espace moderne et motivant pour atteindre vos objectifs de fitness. Notre équipe de
professionnels passionnés vous accompagnera dans chaque étape de votre parcours, que vous soyez débutant ou sportif
confirmé.
</p>
<p class="welcome-content poppins-light">
  Venez découvrir nos équipements de qualité, nos cours collectifs dynamiques et notre ambiance conviviale. Que vous
  souhaitiez améliorer votre endurance, développer votre force ou simplement rester actif, Elrah Gym est l'endroit idéal
  pour vous.
</p>
</div>
</div>

