.welcome-container {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 60%;
        height: 100vh;
    }

    .welcome-wrapper {

        // justify-content: space-between;
        // align-items: center;
        padding: 10px 20px;
        margin: 10px 0;
        // background: transparent;
        width: 40%;

        .welcome-content{
            margin : 10px 0;
            border:2px solid rgba(255,255,255,.1);
            box-shadow : 4px 4px 10px rgba(0,0,0,.1);
        }

    }



}
