<div class="container">

<img src="/assets/images/img_3.jpg" alt="">

<div class="welcome-container flex flex-col">
<img src="/assets/images/Elrah.png" alt="">
<h2 class="poppins-bold text-3xl underline">WELCOME TO ELRAH GYM</h2>
<p class="poppins-light py-4 my-4">
Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae tenetur inventore doloremque sapiente excepturi natus dignissimos optio? Excepturi ipsa, reiciendis beatae doloribus rem nulla error? Maxime nostrum asperiores cumque magni.
</p>
</div>
</div>
